.header {
    ion-toolbar {
      --border-width: 0 !important;
      --border-color: transparent !important;
      --background: #3880ff;
      --padding-top: 1rem;
      --padding-end: 1rem;
    }
  
    .cancelButton {
      --padding: 12px;
      --border-radius: 50%;
      
      .closeIcon {
        font-size: 28px;
        color: white;
      }
    }
  }
  
  .content {
    --padding-top: 2rem;
    --padding-bottom: 2rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    display: flex;
    flex-direction: column;
    --overflow: hidden;
  }
  
  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
    color: #ffffff;
  }
  
  .cardsList {
    background: transparent;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex: 1;
    height: 80%;
    padding-bottom: 1rem;
    mask-image: linear-gradient(to bottom, 
      transparent,
      black 3%,
      black 97%,
      transparent
    );
    -webkit-mask-image: linear-gradient(to bottom, 
      transparent,
      black 3%,
      black 97%,
      transparent
    );
  }
  
  .cardItem {
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cardItemContent {
    --background: #ffffff;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
  
    ion-label {
      h2 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #1f2937;
      }
  
      p {
        font-size: 0.875rem;
        color: #6b7280;
      }
    }
  
    ion-icon {
      color: #6b7280;
      font-size: 1.5rem;
    }
  }
  
  .footer {
    ion-toolbar {
      --border-width: 0 !important;
      --border-color: transparent !important;
      --background: #3880ff;
    }
  
    .addButton {
      margin: 1rem;
      --background: #ffffff;
      --color: #2563eb;
      --border-radius: 0.5rem;
      font-weight: 600;
    }
  }